.usersPredicts {

  padding: 10px;
  text-align: left;

  &__header {
    height: 80px;
  }

  &__selectUser {
    width: 220px;
    height: 40px;
  }

  &__details {
    height: 500px;
    overflow: auto;
  }

  &__championsDetails {

    &--row {
      margin: 5px 0 0  0;
    }

    &--title {
      display: inline-block;
      font-weight: 600;
      width: 150px;
    }

    &--value {
      display: inline-block;
      color: #c80000;;
    }
  }

  &__gamesDetails {
    margin: 40px 0 0 0;
  }
}