<div class="usersPredicts">

	<div class="usersPredicts__header">
		<div>Select a user:</div>
		<div class="usersPredicts__selectUser">
			<select-list ng-model="usersPredictsCtrl.userSelected"
						 ng-change="usersPredictsCtrl.onSelectedUser()"
						 options="usersPredictsCtrl.users"></select-list>
		</div>
	</div>
	<div class="usersPredicts__details" ng-if="usersPredictsCtrl.userDetails">
		<div class="usersPredicts__championsDetails">
			<div>{{usersPredictsCtrl.userDetails.name}}'s Qualification Predictions:</div>
			<div class="usersPredicts__championsDetails--row">
				<div class="usersPredicts__details--title">Champion:</div>
				<div class="usersPredicts__details--value">{{usersPredictsCtrl.userDetails.champion}}</div>
			</div>

			<div class="usersPredicts__championsDetails--row">
				<div class="usersPredicts__details--title">Runner up:</div>
				<div class="usersPredicts__details--value">{{usersPredictsCtrl.userDetails.runnerUp}}</div>
			</div>

			<div class="usersPredicts__groupsContainer">
				<div class="usersPredicts__groups"
					 ng-repeat="group in usersPredictsCtrl.userDetails.groups track by $index">
					<div class="usersPredicts__groupDetails"
						 ng-repeat="row in group track by $index">
						<div class="usersPredicts__details--title">{{row.title}}</div>
						<div class="usersPredicts__details--value">{{row.value}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="usersPredicts__gamesDetails">
			<games-results games="usersPredictsCtrl.userDetails.gamesPredictions"></games-results>
		</div>
	</div>
</div>