<div class="gamesPredictions">

	<div class="gamesPredictions__table">
		<div class="gamesPredictions__row gamesPredictions__header">
			<span class="gamesPredictions__column">Team 1</span>
			<span class="gamesPredictions__column">Team 2</span>
			<span class="gamesPredictions__column">Time</span>
			<span class="gamesPredictions__column">Winner</span>
			<span class="gamesPredictions__column">Team 1 Goals</span>
			<span class="gamesPredictions__column">Team 2 Goals</span>
			<span class="gamesPredictions__column">Goal Difference</span>
			<span class="gamesPredictions__column">First To Score</span>
			<span class="gamesPredictions__column gamesPredictions__action"></span>
		</div>

		<prediction ng-repeat="game in ::gamesPredictionsCtrl.games track by game.id"
					ng-model="game"
					ng-change="gamesPredictionsCtrl.onApplyChanges(game)"
					class="gamesPredictions__row"
					column-class="gamesPredictions__column"></prediction>
	</div>
</div>