<div class="gamePrediction">

	<div class="gamePrediction__column">
		<div class="gamePrediction__title">Team 1</div>
		<div class="gamePrediction__value">{{gamePredictionCtrl.teamOne}}</div>
	</div>

	<div class="gamePrediction__column">
		<div class="gamePrediction__title">Team 2</div>
		<div class="gamePrediction__value">{{gamePredictionCtrl.teamTwo}}</div>
	</div>

	<div class="gamePrediction__column">
		<div class="gamePrediction__title">Time</div>
		<div class="gamePrediction__value">{{gamePredictionCtrl.time}}</div>
	</div>

	<div class="gamePrediction__column">
		<div class="gamePrediction__title">Winner</div>
		<select-list ng-model="gamePredictionCtrl.winnersModel"
					 class="gamePrediction__select"
					 options="gamePredictionCtrl.winnersOptions"></select-list>
	</div>

	<div class="gamePrediction__column">
		<div class="gamePrediction__title">Team 1 Goals</div>
		<select-list ng-model="gamePredictionCtrl.teamOneGoalsModel"
					 class="gamePrediction__selectNumber"
					 options="gamePredictionCtrl.teamOneGoalsOptions"></select-list>
	</div>

	<div class="gamePrediction__column">
		<div class="gamePrediction__title">Team 2 Goals</div>
		<select-list ng-model="gamePredictionCtrl.teamTwoGoalsModel"
					 class="gamePrediction__selectNumber"
					 options="gamePredictionCtrl.teamTwoGoalsOptions"></select-list>
	</div>

	<div class="gamePrediction__column">
		<div class="gamePrediction__title">Goal Difference</div>
		<select-list ng-model="gamePredictionCtrl.goalDifferenceModel"
					 class="gamePrediction__selectNumber"
					 options="gamePredictionCtrl.goalDifferenceOptions"></select-list>
	</div>

	<div class="gamePrediction__column">
		<div class="gamePrediction__title">First To Score</div>
		<select-list ng-model="gamePredictionCtrl.firstToScoreModel"
					 class="gamePrediction__select"
					 options="gamePredictionCtrl.firstToScoreOptions"></select-list>
	</div>

	<div class="gamePrediction__column">
		<div class="gamePrediction__title">Total</div>
		<select-list ng-model="gamePredictionCtrl.totalModel"
					 class="gamePrediction__selectNumber"
					 options="gamePredictionCtrl.totalOptions"></select-list>
	</div>

</div>