<div class="leaderBoard">

	<div class="leaderBoard__table">
		<div class="leaderBoard__row leaderBoard__header">
			<span class="leaderBoard__column">Current Rank</span>
			<span class="leaderBoard__column">Previous Rank</span>
			<span class="leaderBoard__column">User</span>
			<span class="leaderBoard__column"></span>
		</div>

		<div ng-repeat="user in ::leaderBoardCtrl.users track by user.id"
			 class="leaderBoard__row">
			<span class="leaderBoard__column">{{user.currRank}}</span>
			<span class="leaderBoard__column">{{user.prevRank}}</span>
			<span class="leaderBoard__column">
				<div>{{user.name}}</div>
			</span>
			<span class="leaderBoard__column leaderBoard__link"
					ng-click="leaderBoardCtrl.userPredictionsClicked({id: user.id})">See Predictions</span>
		</div>
	</div>

</div>