<div class="group">

	<div class="group__groupName" ng-if="groupCtrl.groupName">{{groupCtrl.groupName}}</div>

	<div class="group__row">
		<div class="group__selectWinner">
			<div class="group__selectionTitle">{{groupCtrl.firstPlaceTitle || '1st place'}}</div>
			<div class="group__selectOptions">
				<select-list ng-model="groupCtrl.firstPlaceModel"
							 options="groupCtrl.countriesOptions"></select-list>
			</div>
		</div>
		<div class="group__selectScore">
			<div class="group__selectionTitle">Total Score</div>
			<div class="group__selectOptions">
				<select-list ng-model="groupCtrl.firstPlaceScoreModel"
							 options="groupCtrl.totalScore"></select-list>
			</div>
		</div>
	</div>

	<div class="group__row">
		<div class="group__selectWinner">
			<div class="group__selectionTitle">{{groupCtrl.secondPlaceTitle || '2nd place'}}</div>
			<div class="group__selectOptions">
				<select-list ng-model="groupCtrl.secondPlaceModel"
							 options="groupCtrl.countriesOptions"></select-list>
			</div>
		</div>
		<div class="group__selectScore">
			<div class="group__selectionTitle">Total Score</div>
			<div class="group__selectOptions">
				<select-list ng-model="groupCtrl.secondPlaceScoreModel"
							 options="groupCtrl.totalScore"></select-list>
			</div>
		</div>
	</div>
</div>