<div class="group">

	<div class="group__groupName">{{groupCtrl.groupName}}</div>

	<div class="group__row">
		<div class="group__selectWinner">
			<div class="group__selectionTitle">1st place</div>
			<div class="group__selectOptions">
				<select-list ng-model="groupCtrl.runnerUpModel"
							 options="groupCtrl.countriesOptions"></select-list>
			</div>
		</div>
		<div class="group__selectScore">
			<div class="group__selectionTitle">Total Score</div>
			<div class="group__selectOptions">
				<select-list ng-model="groupCtrl.totalScoreWinnerModel"
							 options="groupCtrl.totalScore"></select-list>
			</div>
		</div>
	</div>

	<div class="group__row">
		<div class="group__selectWinner">
			<div class="group__selectionTitle">2nd place</div>
			<div class="group__selectOptions">
				<select-list ng-model="groupCtrl.secondPlaceModel"
							 options="groupCtrl.countriesOptions"></select-list>
			</div>
		</div>
		<div class="group__selectScore">
			<div class="group__selectionTitle">Total Score</div>
			<div class="group__selectOptions">
				<select-list ng-model="groupCtrl.totalScoreSecondPlaceUpModel"
							 options="groupCtrl.totalScore"></select-list>
			</div>
		</div>
	</div>
</div>