<div class="homepage">


	<div class="homepage__tabsContainer">
		<div class="homepage__appName">Euro 2016 |</div>

		<tab ng-repeat="tab in homepageCtrl.tabs track by tab.id"
			 tab-name="{{tab.name}}"
			 id="{{tab.id}}"
			 ng-model="homepageCtrl.selectedPage"
			 ng-click="homepageCtrl.tabClicked(tab.id)"></tab>
	</div>

	<div ng-switch="homepageCtrl.selectedPage">
		<my-page ng-switch-when="myPage"></my-page>
		<games-predictions ng-switch-when="gamesPredictions"></games-predictions>
		<qulification-prediction ng-switch-when="qulificationPrediction"></qulification-prediction>
		<leader-board ng-switch-when="leaderBoard"
					  user-predictions-clicked="homepageCtrl.userPredictionsClicked(id)"></leader-board>
		<users-predicts ng-switch-when="usersPredicts"></users-predicts>
	</div>

</div>
