<div class="qulificationPrediction">

	<div class="qulificationPrediction__box qulificationPrediction__champions">

		<div class="qulificationPrediction__champion">
			<div class="qulificationPrediction__selection">
				<div class="qulificationPrediction__selectionTitle">Champion</div>
				<div class="qulificationPrediction__selectionValue qulificationPrediction__selectOptions">
					<select-list ng-model="qulificationPredictionCtrl.championModel"
								 options="qulificationPredictionCtrl.countriesOptions"></select-list>
				</div>
			</div>

			<div class="qulificationPrediction__selection">
				<div class="qulificationPrediction__selectionTitle">Time</div>
				<div class="qulificationPrediction__selectionValue"></div>
			</div>

			<div class="qulificationPrediction__selection">
				<div class="qulificationPrediction__selectionTitle">Total Score</div>
				<div class="qulificationPrediction__selectionValue qulificationPrediction__selectOptions">
					<select-list ng-model="qulificationPredictionCtrl.totalScoreOneModel"
								 options="qulificationPredictionCtrl.scoreOptions"></select-list>
				</div>
			</div>
		</div>

		<div class="qulificationPrediction__runnerUp">
			<div class="qulificationPrediction__selection">
				<div class="qulificationPrediction__selectionTitle">Runner up</div>
				<div class="qulificationPrediction__selectionValue qulificationPrediction__selectOptions">
					<select-list ng-model="qulificationPredictionCtrl.runnerUpModel"
								 options="qulificationPredictionCtrl.countriesOptions"></select-list>
				</div>
			</div>

			<div class="qulificationPrediction__selection">
				<div class="qulificationPrediction__selectionTitle">Time</div>
				<div class="qulificationPrediction__selectionValue"></div>
			</div>

			<div class="qulificationPrediction__selection">
				<div class="qulificationPrediction__selectionTitle">Total Score</div>
				<div class="qulificationPrediction__selectionValue qulificationPrediction__selectOptions">
					<select-list ng-model="qulificationPredictionCtrl.totalScoreTwoModel"
								 options="qulificationPredictionCtrl.scoreOptions"></select-list>
				</div>
			</div>
		</div>
	</div>

	<div class="qulificationPrediction__box qulificationPrediction__groups">
		<group countries="qulificationPredictionCtrl.countriesOptions"
			   total-score="qulificationPredictionCtrl.scoreOptions"
			   class="qulificationPrediction__group"></group>
		<group countries="qulificationPredictionCtrl.countriesOptions"
			   total-score="qulificationPredictionCtrl.scoreOptions"
			   class="qulificationPrediction__group"></group>
		<group countries="qulificationPredictionCtrl.countriesOptions"
			   total-score="qulificationPredictionCtrl.scoreOptions"
			   class="qulificationPrediction__group"></group>
		<group countries="qulificationPredictionCtrl.countriesOptions"
			   total-score="qulificationPredictionCtrl.scoreOptions"
			   class="qulificationPrediction__group"></group>
	</div>
</div>