<div class="qulificationPrediction">

	<div class="qulificationPrediction__box qulificationPrediction__champions">

		<group countries="qulificationPredictionCtrl.countriesOptions"
			   total-score="qulificationPredictionCtrl.championScoreOptions"
			   ng-model="qulificationPredictionCtrl.model.champion"
			   class="qulificationPrediction__group"
			   first-place-title="Winner"
			   second-place-title="Runner Up"></group>
	</div>

	<div class="qulificationPrediction__box qulificationPrediction__groups">
		<group ng-repeat="group in qulificationPredictionCtrl.groups track by $index"
			   ng-model="group.model.group"
			   group-name="{{group.name}}"
			   countries="group.countries"
			   total-score="qulificationPredictionCtrl.scoreOptions"
			   class="qulificationPrediction__group"></group>
	</div>
</div>